<!--Contact-->
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Let's Connect</h2>
                    <h3 class="section-subheading text-muted">Question or comments? Drinks or coffee? Our mail is <a href="mailto:contact@catalanlabs.com">contact@catalanlabs.com</a>. Subscribe and we'll keep you posted!</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <form action="//catalanlabs.us10.list-manage.com/subscribe/post?u=b535fcc5e5c62c1b855419645&amp;id=c27c6332d8" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group mc-field-group">
                                    <input type="text" placeholder="Your Name *" value="" name="NAME" class="form-control required" id="mce-NAME">
                                </div>
                                <div class="form-group mc-field-group">
                                    <input type="email" placeholder="Your Email *" value="" name="EMAIL" class="form-control required email" id="mce-EMAIL">
                                </div>
                                <div class="form-group mc-field-group">
                                    <input type="text" placeholder="Your Phone " name="PHONE" class="form-control" value="" id="mce-PHONE">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group mc-field-group">
                                    <textarea type="text" placeholder="Your Message *" value="" name="MESSAGE" class="form-control required" id="mce-MESSAGE"></textarea>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-lg-12 text-center">
                                <div id="mce-responses" class="clear">
                                    <div class="response error-response" id="mce-error-response" style="display:none"></div>
                                    <div class="response success-response" id="mce-success-response" style="display:none"></div>
                                </div> 
                                <div style="position: absolute; left: -5000px;"><input type="text" name="b_b535fcc5e5c62c1b855419645_c27c6332d8" tabindex="-1" value=""></div>
                                <div class="clear"><input type="submit" value="Send Message" name="subscribe" id="mc-embedded-subscribe" class="btn btn-xl button"></div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>