<!-- Posture Grid Section -->
    <section id="posture">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Posture</h2>
                    <h3 class="section-subheading text-muted">Content will be added by jerric</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <img src="img/spineimg.svg" class="img-display img-responsive" alt="">
                </div>
            </div>
        </div>
    </section>