<section class="no-padding bg-light-gray" id="problem">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Problem</h2>
                    <h3 class="section-subheading text-muted">Neutral Spine & Pelvis Posture
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center slight-padding" >
                    <img src="img/spineimg.svg" class="img-display img-responsive" alt="">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center slight-padding">
                    <p class="large text-muted">The neutral spine posture in a healthy spine is an optimal position of three natural curves of the spine at neck region curve, mid back region curve and lower back region curve. Posture is also determined by pelvic tilt with an optimal alignment of Anterior Superior Illiac Spines(ASIS) and Pubic Symphysis along a vertical line running through the leg bones of lumbar and cervical regions and out the top of the head.</p>
                </div>
            </div>
            <div class="row no-gutter">
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="problem-box">
                        <img src="img/problem/pose-thumbnail.jpg" class="img-responsive" alt="">
                        <div class="problem-box-caption">
                            <div class="problem-box-caption-content">
                                <div class="project-category text-faded">
                                    Sit
                                </div>
                                <div class="project-name">
                                    What is the posture when you sit
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="problem-box">
                        <img src="img/problem/escape-thumbnail.jpg" class="img-responsive" alt="">
                        <div class="problem-box-caption">
                            <div class="problem-box-caption-content">
                                <div class="project-category text-faded">
                                    Stand
                                </div>
                                <div class="project-name">
                                    How often do you stand up?
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="problem-box">
                        <img src="img/problem/golden-thumbnail.jpg" class="img-responsive" alt="">
                        <div class="problem-box-caption">
                            <div class="problem-box-caption-content">
                                <div class="project-category text-faded">
                                    Move
                                </div>
                                <div class="project-name">
                                    How much do you move around?
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="problem-box">
                        <img src="img/problem/treehouse-thumbnail.jpg" class="img-responsive" alt="">
                        <div class="problem-box-caption">
                            <div class="problem-box-caption-content">
                                <div class="project-category text-faded">
                                    Walk
                                </div>
                                <div class="project-name">
                                    Do you like sunshine?
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="problem-box">
                        <img src="img/problem/startup-framework-thumbnail.jpg" class="img-responsive" alt="">
                        <div class="problem-box-caption">
                            <div class="problem-box-caption-content">
                                <div class="project-category text-faded">
                                    Sleep
                                </div>
                                <div class="project-name">
                                    Do you get enough sleep?
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="problem-box">
                        <img src="img/problem/roundicons-thumbnail.jpg" class="img-responsive" alt="">
                        <div class="problem-box-caption">
                            <div class="problem-box-caption-content">
                                <div class="project-category text-faded">
                                    Life
                                </div>
                                <div class="project-name">
                                    How good is your real-life relationships?
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>