<!-- Team Section -->
    <section id="team" class="bg-light-gray">
        <!-- <div id="particles-js"> -->
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Meet Our Team</h2>
                    <h3 class="section-subheading text-muted">The passionate people behind the novell idea.</h3>
                </div>
            </div>
            <div class="row center-block text-center">
                {% for member in site.people %}
                <div class="center-team">
                    <div class="team-member">
                        <img src="img/team/{{ member.pic }}.jpg" class="img-responsive img-circle" alt="">
                        <h4>{{ member.name }}</h4>
                        <p class="text-muted">{{ member.position }}</p>
                        <p class="minheight text-muted">{{ member.desc }}</p>
                        <ul class="list-inline social-buttons">
                            {% for network in member.social %}
                            <li><a href="{{ network.url }}"><i class="fa fa-{{ network.title }}"></i></a></li>
                            {% endfor %}

                        </ul>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="large text-muted">Our team has expertise in prototyping IOT, developing mobile apps and researching deep learning models. We were part of finalists selected as part of emaze PITCHUP'15, we also participated for the Shift Challenge held in Shift, Croatia. Portuspine is a passionate effort from us to make a viable solution in preventing back pain in users.</p>
                </div>
            </div>
        </div>
       <!--  </div> -->
    </section>
