<!-- Timeline Section -->
    <section id="timeline">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Timeline</h2>
                    <h3 class="section-subheading text-muted">How we came up with this novell idea.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>March 2015</h4>
                                    <h4 class="subheading">CatalanLabs Research</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">We developed robust head tracking sensor using 9DOF IMU for AR/VR devices, that was a crucial for the user's presence in devices like Oculus Rift</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>April 2015</h4>
                                    <h4 class="subheading">Intel IOT Roadshow</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">We developed a system using 3DOF IMU that can detect changes in displacement of highly sensitive devices</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>May 2015</h4>
                                    <h4 class="subheading">Proof of Concept</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">We deviced a working PoC for estimating the correct posture of humans while sitting using pose estimation parameters that determined whether the user is slouching or not.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>May 2015</h4>
                                    <h4 class="subheading">Primary Market Research</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">We started engaging with Companies like eBay, Honeywell regarding the acceptance of a preventive care wearable device for maintaing proper ergnomics during work and for an overall well being.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/5.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>May 2015</h4>
                                    <h4 class="subheading">emaze PITCHUP'15</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">We were shortlisted as finalists for the international pitch event.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/6.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>June 2015</h4>
                                    <h4 class="subheading">SHIFT Challenge</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">We are invited as part of the 25 startups for SHIFT Challenege, Croatia. We get to pitch the product in front of over 1000 attendees of the Shift Conference and in front world-renowned judges from companies like Y-Combinators, TechStars, TechCruch, 500 Startups, Mashable etc.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>And
                                    <br>We just
                                    <br>Started!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
